<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CodeShare</title>
    </head>

    <body>
        <center>
            <h2>CodeShare</h2>
        </center>

        <%= yield %>
    </body>
</html>
