<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CodeShare</title>
        <!--link rel="stylesheet" type="text/css" href="style.css"-->
        <link rel="shortcut icon" href="favicon.ico">
        <!--link rel="icon" href="../favicon.ico"-->
    </head>

    <body>
        <center>
            <h2>CodeShare</h2>
        </center>

        <%= yield %>
    </body>
</html>
