<h3 style="text-align:center;">ログイン</h3>

<form action="/auth" method="post">
    ユーザーネーム: <input type="text" name="uname" size"40" maxlength="20" required><br>
    パスワード: <input type="password" name="pass" size="40" maxlength="20" required><br>
    <input type="submit" value="ログイン">
    <input type="reset" value="リセット">
</form><br>

アカウントをお持ちでないですか？<br>
<input type="button" onclick="location.href='/registerpage'" value="アカウントを作成">