あなたのユーザーネームとパスワードを入力してください<br>

<form action="/auth" method="post">
    ユーザーネーム: <input type="text" name="uname" size"40" maxlength="20"><br>
    パスワード: <input type="password" name="pass" size="40" maxlength="20"<br>
    <br>
    <input type="submit" value="ログイン">
    <input type="reset" value="リセット">
</form>

アカウントをお持ちでないですか？<br>
<a href="/registerpage">登録はこちらをクリック</a>