<p>全体の共有数の上限(1000件)を超えて共有を行おうとしています</p>
<p>マイページから共有したコードをいくつか削除してから再度共有してください</p>
<p>もしも共有するのが初めてなら、他の人が削除するまで共有できません。ごめんなさい。</p>
<input type="button" onclick="location.href='/mypage'" value="マイページ">